body{
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100vw;
    height: 89px;
    background-color: #404EED;
}

.header img{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 80px;
}

.tela-principal {
    display: flex;
    width: 100vw;
}

.conteudo {
    width: 60vw;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    box-sizing: border-box;
    padding-top: 40px;
  
}

.imagem-lateral {
    width: 40vw;
    height: 785px;
    background-color: #404EED;

}

.titulo {
    font-size: 18px;
    display: block;
    margin: 15px;
}


.modelos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: auto;
    text-align: center;
    

}

.modelos img{
    border: 0.5px solid #C4C4C4;
    border-radius: 80%;
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    padding: 10px;
    box-sizing: border-box;
}


