body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.header {
    width: 100vw;
    height: 89px;
    background-color: #404EED;
}

.header img{
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 80px;
}

.tela-principal {
    display: flex;
    width: 100vw;
}

.conteudo {
    width: 60vw;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FCFCFC;

}

.imagem-lateral {
    width: 40vw;
    height: 785px;
    background-color: #404EED;

}



.titulo {
    font-size: 18px;
    display: block;
    margin: 15px;
}


.modelos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: auto;
    text-align: center;


}

.modelos img{
    border: 0.5px solid #C4C4C4;
    border-radius: 80%;
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    /* padding: 10px; */
    box-sizing: border-box;
}

.selecionada img{
    border: 3px solid #404EED;
}
/* nos modelos usar background image */

.referencia {
    width: 90%;
    margin-bottom: 24px;
}

input {
    background-color: #F2F2F2;
    border-radius: 10px;
    border: 0.5px solid #C4C4C4;
    height: 40px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

}

.botao {
    background-color: #C4C4C4;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    width: 90%;
    line-height: 40px;
    height: 40px;
    text-align: center;
}

.botao.selecionada{
    background-color: #404EED;
}

.tela-inferior{
    width: 100vw;
    background-color: #F2F2F2;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;

}
.ultimos-Pedidos{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
}

.card-Pedidos{
    background-color: #FFFFFF;
    height: 240px;
    width: 202px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    padding-top: 20px;
    border-radius: 10px;
}

/* .confirmar{
    display: block;
    margin: 10px;
} */

.confirmacao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.pedidoConfirmado{
    border: 2px solid #32B72F;
}
.simNao{
    display: block;
    margin: 5px;
}
.card-Pedidos img{
    width: 180px;
    height: 180px;
}
strong{
    font-weight: 700;
}

.escondido{
    display: none;
}


@media (max-width: 600px) {


    .body{
        width: auto;
    }
    .imagem-lateral {
        display: none;
    }
    
    .header img{
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 80px;
    }

    .conteudo {
        width: 100vw;
        justify-content: center;
    }

    .referencia {
        width: 100%;
}

    .botao{
        width: 100%;
        margin-bottom: 50px;
    }


    .ultimos-Pedidos {
        flex-direction: column;
        align-items: center;
        
    }

   .titulo.ultimosPedidos {
        text-align: center;
        font-size: 24px;
   }

   .header {
    margin-bottom: 21px;
   }

   .modelos img{
    height: 80px;
    width: 80px;
   }
}